.infoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7e2323;
    height: 60px;
    width: 100%;
  }
  
.leftBox {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightBox {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}