.form {
    display: flex;
  }
  
.input {
  border: none;
  padding: 5%;
  width: 80%;
  font-size: 1.5em;
}



.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #7e2323;
  padding: 20px;
  font-size: 2.5em;
  display: inline-block;
  border: none;
  width: 20%;
}


input:focus, textarea:focus, select:focus{
  outline: none;
}