.joinOuterBox {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #000000;
}

.joinInnerBox {
  width: 20%;
}

.joinInput {
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
}

.button {
    color: #fff;
    background: #7e2323;
    padding: 20px;
    border: none;
    width: 100%;
    margin-top: 20px;
}

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}
  
@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }
}